.gradle/
*.log
*.port
*.swp
*.class
.classpath
.project
.settings/
/bin
bin/
build/
.DS_Store
.bundle/
Gemfile.lock
vendor/
**/velocity.log
./kdts-web/out
# temp directory is ignored so that it can be used to store temporary files such as local testing configurations.
temp/
.idea
# Intellij files
.ideals
./idea
*.iml
*.ipr
*.iws
.ideaDataSources/
.shelf
gradle/

azkaban-common/out/
kdts-db/out/
kdts-dev-resource/plugins/viewer/
kdts-dispatcher/out/
kdts-executor/out/
kdts-integration/kdts-container/
kdts-integration/kdts-registry/out/
kdts-service/kdts-service-dao/out/
kdts-service/kdts-service-server/out/
kdts-test/out/
kdts-web/out/
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/misc.xml
/.gradle/4.8/
/.idea/gradle.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/vcs.xml
/build/libs/dts-1.0-SNAPSHOT.jar
/build/libs/dts-1.0-SNAPSHOT.jar
/.gradle
/.idea
/.gradle
/.idea
log/
native/
plugins/
executions/
execution/
out/
